  <mat-toolbar color="primary">
      <h1>Dev. Integracao</h1>      
  </mat-toolbar>

  <mat-sidenav-container >
    <!-- Menu -->
    <mat-sidenav mode="side" opened>
      <mat-nav-list>
        <a mat-list-item routerLink="/clientes" routerLinkActive="active">Clientes</a>
        <a mat-list-item routerLink="/pedidos" routerLinkActive="active">Pedidos</a>
        <a mat-list-item routerLink="/detalhes-pedidos" routerLinkActive="active">Detalhes Pedido</a>
        <a mat-list-item routerLink="/enderecos" routerLinkActive="active">Endereços</a>
        <a mat-list-item routerLink="/faturamentos" routerLinkActive="active">Faturamentos</a>
        <a mat-list-item routerLink="/produtos" routerLinkActive="active">Produtos</a>
        <a mat-list-item routerLink="/pdf" routerLinkActive="active">PDF</a>
      </mat-nav-list>
    </mat-sidenav>
    <!-- Content -->
    <mat-card>
      <router-outlet></router-outlet>
    </mat-card>
  </mat-sidenav-container>
