<form class="example-form">
    <mat-form-field>
      <input matInput placeholder="e-mail" value="">
    </mat-form-field>
  </form>

<form class="example-form">
  <mat-form-field>
    <input matInput placeholder="Cliente" value="Cliente ID">
  </mat-form-field>
  <button mat-button>OK</button>
</form>

<form class="example-form">
  <label>Gerar Resumo Mes: </label>
  <button mat-button>OK</button>
</form>

<form class="example-form">
  <mat-form-field>
    <input matInput placeholder="produto_mes" value="Produto ID">
  </mat-form-field>
  <button mat-button>OK</button>
</form>

<form class="example-form">
  <mat-form-field>
    <input matInput placeholder="produto_ano" value="Produto ID">
  </mat-form-field>
  <button mat-button>OK</button>
</form>
