<form class="example-form">
    <mat-form-field>
      <input matInput placeholder="E-mail" value="">
    </mat-form-field>
  </form>

<form class="example-form">
  <p> Últimos pedidos faturados de um cliente</p>
  <mat-form-field>
    <input matInput placeholder="Cliente" value="Cliente ID">
  </mat-form-field>
  <button mat-button>Gerar</button>
</form>

<form class="example-form">
  <p>Resumo dos últimos pedidos faturados por mês</p>
  <button mat-button>Gerar</button>
</form>

<form class="example-form">
  <p>Resumo de um produto por mês</p> 
  <mat-form-field>
    <input matInput placeholder="ID do produto" value="Produto ID">
  </mat-form-field>
  <button mat-button>Gerar</button>
</form>

<form class="example-form">
    <p>Resumo de um produto por ano</p> 
    <mat-form-field>
    <input matInput placeholder="Id do produto" value="Produto ID">
  </mat-form-field>
  <button mat-button>Gerar</button>
</form>
